.people-section
  margin-bottom: $base-spacing

.people-header, .people-list
  @extend .container

.people-list
  border-top: $base-border

  ul
    @extend .no-list-style
    @extend .horizontal-list

    +clearfix
    padding-top: $base-spacing

    li
      +span(12)
      margin-bottom: $base-spacing

      +breakpoint($small-plus-screen)
        +gallery(6)

      +breakpoint($medium-screen)
        +gallery(4)

      +breakpoint($large-screen)
        +gallery(2.4)

    a
      color: $base-font-color

      &:hover
        color: lighten($base-font-color, 50%)

        img
          opacity: 0.75
          transition: opacity $base-duration $base-timing

    .name
      padding: 0 $small-spacing